.weather-box {
  border: 1px solid black;
  padding: 16px;
  margin: 30px auto;
  border-radius: 4px;
  max-width: 700px;
}

.weather-box h1 {
  font-size: 35px;
  font-weight: 300;
  line-height: 29px;
  color: #878787;
  margin-bottom: 5px;
}

.weather li {
  font-size: 16px;
  font-weight: 200;
  line-height: 19px;
}

.weather-box .input-search {
  width: 400px;
  padding: 8px;
  margin: 4px;
}

.weather-box .input-button {
  border-radius: 5px;
  width: 90px;
}

.weather-box .temperature {
  font-size: 64px;
  font-weight: 400;
  color: blueviolet;
}

svg {
  position: relative;
  bottom: 20px;
  width: 89px;
  
}

.weather-box .unit {
  font-size: 26px;
  position: relative;
  bottom: 32px;
  left: 6px;
  color: burlywood;
}
